/* === Страница объявления === */
.ad-list {
    background-color: #ffffff;
    border: 1px solid #dbeafe;
    border-radius: 10px;
    padding: 30px;
    margin: 3%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.ad-list h2 {
    font-size: 24px;
    color: #1e4e8c;
    margin-bottom: 10px;
    font-weight: bold;
}

.ad-list h3 {
    font-size: 20px;
    color: #145b9e;
    margin-bottom: 10px;
}

.ad-list p,
.ad-list b {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.ad-list .btn-actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-actions .btn-edit-ad button,
.btn-actions .btn-del-ad button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-actions .btn-edit-ad button {
    background-color: #3399ff;
}

.btn-actions .btn-edit-ad button:hover {
    background-color: #2a7fd1;
}

.btn-actions .btn-del-ad button {
    background-color: #2a7fd1;
}

.btn-actions .btn-del-ad button:hover {
    background-color: #1f6cab;
}