{% load static %}
<html>
<head>
    <title>404 – страница не найдена</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Страница не найдена</h1>
        </header>
        <main class="image-container">
            <img src="{% static 'img/404.png' %}" alt="404">
        </main>
        <footer class="footer">
            <a href="{% url 'b_board:index' %}">Перейти к главной странице</a>
        </footer>
    </div>
</body>
</html>